.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 19px;
  line-height: .88;

  &__shield {
    display: grid;
    width: 34px;
    height: 42px;
    place-items: center;
    color: #43e5ee;
    background: linear-gradient(145deg, #0fe5d4, #7039ff);
    clip-path: polygon(50% 0, 100% 17%, 92% 76%, 50% 100%, 8% 76%, 0 17%);
  }
}
